<app-searchheader></app-searchheader>
<div class="info">
  <div class="path">
    mechanical > fans >item series
  </div>
  <div class="infoheader">
    <div class="pic">
      pic
    </div>
    <div class="model">
      {{product.manufacturer}} > {{product.series}} > {{product.model}}
    </div>
    <div class="ps">
      Past specifications: {{product.firm}} firm / {{product.glob}} global
    </div>
    <select class="btn">
      <option value="0">Add to</option>
      <option value="1">Audi</option>
      <option value="2">BMW</option>
      <option value="3">Citroen</option>
      <option value="4">Ford</option>
    </select>
  </div>
  <div class="title">
    <div [ngClass]="{'SDDT': true, 'SDDT_active':'summary'==page }">
      Product Summary
    </div>
    <div [ngClass]="{'SDDT': true, 'SDDT_active': 'detail'==page }">
      Product Details
    </div>
    <div [ngClass]="{'SDDT': true, 'SDDT_active': 'document'==page }">
      Product Documentation
    </div>
    <div [ngClass]="{'SDDT': true, 'SDDT_active': 'contact'==page }">
      Contact
    </div>
  </div>
  <div class="context">
    <div class="summary" (mouseenter) ="mouseEnter('summary')">
      <span class="contextTitle">Product Summary</span><br>
      <div class="t">
        <div class="t_title">
          DESCRIPTION
        </div>
        <table>
          <tr *ngFor="let attr of DESCRIPTION; let i=index;">
            <td class="name">
              {{attr}}
            </td>
            <td>
              {{product[attr]}}
            </td>
          </tr>
        </table>
        <div class="t_title">
          TYPE
        </div>
        <table>
          <tr *ngFor="let attr of TYPE; let i=index;">
            <td class="name">
              {{attr}}
            </td>
            <td>
              {{product[attr]}}
            </td>
          </tr>
        </table>
      </div>
      <div class="t">
        <div class="t_title">
          TECHNICHAL SPECIFICATION
        </div>
        <table>
          <tr *ngFor="let attr of TS; let i=index;">
            <td class="name">
              {{attr+unit[i]}}
            </td>
            <td>
              {{product[attr]}}
            </td>
            <td *ngFor="let i of [1,2,3]"></td>
          </tr>
          <tr *ngFor="let attr of TS_plus; let i=index;">
            <td class="name">
              {{attr+unit[i+5]}}
            </td>
            <td style="background-color:#F0F0F0;text-align:center">
              min
            </td>
            <td>
              {{product[attr+'_min']}}
            </td>
            <td style="background-color:#F0F0F0;text-align:center">
              max
            </td>
            <td>
              {{product[attr+'_max']}}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="detail" (mouseenter) ="mouseEnter('detail') ">
      <span class="contextTitle">Product Details</span><br>
      <div class="t" style="width:100%;">
        <div class="t_title">
          SERIES INFO
        </div>
        <table>
          <tr *ngFor="let item of [1,2,3,3,4,5,6,7,8,9,0,1,2]; let i = index;">
            <td [ngClass]="{'name': i%2==0}">
              name
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="docu" (mouseenter) ="mouseEnter('document') ">
      <span class="contextTitle">Product Documentations</span><br>
      <table>
      <tr class="file">
        <td>
          <img src="https://img.icons8.com/ios/50/000000/ms-word.png"/>
          <a class="left_text">CSI – Three Part Specification (DOC)</a>
        </td>

        <td>
          <img class="right_icon" src="https://img.icons8.com/ios/50/000000/file.png"/>
          <a class="left_text">BIM (RVT)</a>
        </td>
      </tr>

      <tr class="file">
        <td>
          <img src="https://img.icons8.com/ios/50/000000/pdf-2--v1.png"/>
          <a class="left_text">Submittal (PDF)</a>
        </td>

        <td>
          <img class="right_icon" src="https://img.icons8.com/ios/50/000000/dwg.png"/>
          <a class="left_text">Elevation Views (DWG)</a>
        </td>
      </tr>

      <tr class="file">
        <td>
          <img src="https://img.icons8.com/ios/50/000000/pdf-2--v1.png"/>
          <a class="left_text">Control Options (PDF)</a>
        </td>

        <td>
          <img class="right_icon" src="https://img.icons8.com/ios/50/000000/dwg.png"/>
          <a class="left_text">Elevation Views (DWG)</a>
        </td>
      </tr>

      <tr class="file">
        <td>
          <img src="https://img.icons8.com/ios/50/000000/pdf-2--v1.png"/>
          <a class="left_text">Photometric Data (PDF)</a>
        </td>
      </tr>
      </table>
    </div>
    <div class="contact" (mouseenter) ="mouseEnter('contact') ">
      <span class="contextTitle">Contact</span><br>
      <div class="t">
        <div class="t_title">
          SALES REPRESENTATIVE
        </div>
        <table>
          <tr *ngFor="let i of [1,2,3,4]">
            <td class="name">
              name
            </td>
            <td>
              value
            </td>
          </tr>
        </table>
      </div>
      <div class="t">
        <div class="t_title">
          MANUFACTURER
        </div>
        <table>
          <tr *ngFor="let i of [1,2,3,4]">
            <td class="name">
              name
            </td>
            <td>
              value
            </td>
          </tr>
        </table>
      </div>
    </div>
    </div>

  </div>
