.path{
  font-size: 13px;
  width: 400px;
  position: relative;
  left:15px;
  font-size: 20px;
  font-weight: bold;
  color: #004466;
  padding-top: 10px;
}
.pl{
  position: absolute;
  border: solid 0.1px;
  width: 1170px;
  height: 700px;
  top:110px;
  left:260px;
  overflow:auto
}
.product{
  border: solid 0.1px gray;
  width: 250px;
  height: 400px;
  margin: 20px;
  float: left;
}
.pic{
  height: 100px;
  margin: 0.1px;
}
select{
  background-color:#4682B4;
  color: white;
}
.model{
  font-size: 18px;
  font-weight: bold;
  color:#004466;
  height: 80px;
  text-align: center;
}

.ts{
  height: 100px;
  text-align: center;
  color:#707070;
  background-color:#E8E8E8;
  font-size: 17px;
  margin: 1px;
}
.ps{
  height: 50px;
  text-align: center;
  font-size: 15px;
  color: #B22222;
}
.btns{
  height: 50px;
}
.btn1{
  position: relative;
  left: 30px;
}
.btn2{
  position: relative;
  left: 80px;
}
p{
  height: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
}
img{
  height:100px;
  width:240px;
  margin: 2px;
}
