<div class="pl">
  <div class="path">
    Mechanical > HVAC Fans
  </div>
  <div *ngFor="let item of products;" class="product">
    <div (click)="targetThisProduct(item)" routerLink="/productsInfo">
      <div class="pic">
        <img src={{pictures[item.series]}} alt="">
      </div>
      <div class="model">
        <p>{{item.manufacturer}}</p>
        <p>{{item.model}}</p>
        <p>{{item.series}}</p>
      </div>
      <div class="ts">
        <p>{{item.airflow}} CFM</p>
        <p>{{item.power_max}} W at max speed</p>
        <p>{{item.sound_at_max_speed}} dBA at max speed</p>
        <p>{{item.fan_sweep_diameter}}” fan sweep diameter</p>
      </div>

      <div class="ps">
        <p>Past specifications:</p>
        <p>{{item.firm}} firm / {{item.glob}} global</p>
      </div>
    </div>
    <div class="btns">
      <input class="btn1"type="checkbox" (change)="handleCheckbox($event, item)">
      <span style="font-size:15px;position:relative;left:50px;" >Compare</span>
      <select class="btn2" (change)="addProductToProject(item,$event.target.value)">
        <option value="">Add to</option>
        <option *ngFor="let project of projects;let i=index" value="{{i}}">{{project.pname}}</option>
      </select>
    </div>
  </div>
  <button type="button" routerLink="/productsCompare" (click)="goToCompare()" style="background-color:#4682B4; position:relative; top:392px; color:white">Go To Compare</button>
</div>
