.info{
  height: 700px;
  border: solid 0.1px gray;
  overflow: auto;
}
.path{
  height: 40px;
  margin-left: 20px;
  font-size: 13px;
  color: #004466;

}
.compare{
  margin: 20px;
  border-bottom: solid 1px gray;
}
.t_title{
  height: 33px;
  border: solid 1px gray;
  color: #383838;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 5px;
}
td{
  padding-left: 10px;
}
.pic{
  height:100px;
  border: solid 1px gray;
}
.pic select{
  position: relative;
  top:0px;
  background-color:#4682B4;
  color: white;
}
img{
  width: 260px;
  height:100px;
}
.name{
  margin-left: 10px;
  background-color: #F0F0F0;
  height: 33px;
  width: 200px;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  color: black;
}
.detail{
  text-align: center;
  width: 200px;
  height: 33px;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  border-top: solid 1px #F0F0F0;
  color: black;
}
.min_max{
  width: 25%;
  float: left;
  margin: 0;
}
