<div class="header">
  <span class="logo" style=" position:relative;left: 50px;width:200px">
    <span class="joole">j</span>
    <span id="dot1"></span>
    <span id="dot2"></span>
    <span class="joole" style=" position:relative;left: -8px">le</span>
  </span>
  <select id="home_search">
    <option>Mechanical</option>
    <option>Apples</option>
    <option>Bananas</option>
    <option>Grapes</option>
    <option>Oranges</option>
  </select>
<input id="search" type="text" name="" value="">
<span style=" position:absolute;right: 150px;top:40px;">username</span>
<img  id="pic" src="" alt="???">
</div>
