.header{
  height: 100px;
  width:1420px;
  background-image: linear-gradient(to right,#e6f3ff,#cfe6fa,#e6f3ff);
}

.joole{
  font-weight: bold;
  color:#264d73;
  font-size: 50px;
  margin: 0;
  font-family: Comic Sans MS;
}
#dot1 {
  height: 30px;
  width: 30px;
  background-color: #004466;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#dot2 {
  height: 30px;
  width: 30px;
  background-color: #004466;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  position: relative;
  top: -10px;
  left: -10px;
}
#search{
  width: 400px;
  height: 20px;
  font-size:15px;
  color: #BEBEBE;
  border-radius: 5px;
  background: url(https://img.icons8.com/ios-filled/20/000000/search.png) no-repeat;
  background-color: white;
  background-position: right;
  position: relative;
  left:300px;

}
#home_search {
  -webkit-appearance: none;
  position: relative;
  left:300px;
	width: 150px;
	border-radius: 5px;
  height: 25px;
  font-size:12px;
  background: url(https://img.icons8.com/material-sharp/10/000000/give-way--v2.png)no-repeat;
  background-color: #D0D0D0;
  background-position: 130px 10px;
}
#pic{
  position:absolute;
  right:50px;
  top:40px;
}
