<div class="filter">
  <details>
    <summary>Product Type</summary>
    <p>1</p>
    <p>2</p>
  </details>
  <details>
    <summary>Technical Specification</summary>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
  </details>
  <details>
    <summary>Brand</summary>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
  </details>
  <details>
    <summary>Past Seletion</summary>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
  </details>
  <details>
    <summary>Certifications</summary>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
  </details>

</div>
