
.filter{
  text-align: center;
  padding: 2px 2px 2px 2px;
}
.rightBox{
  border: solid 0.1px;
  width: 24%;
  float: left;
  position: relative;
  right: -10px;
}
.leftBox{
  border: solid 0.1px;
  width: 24%;
  float: left;
  position: relative;
  left: -10px;
}
.slider{
  position: relative;
  top:-10px;
  width: 50%;
  height: 20px;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}
input{
  text-align: center;
}
.modalTitle{
  background-color: #F0F0F0;
  height: 20px;
  color: black;
}
nz-modal tr{
  height: 30px;
}
#part1{
  width: 25%;
}
.type{
  font-weight: bold;
  color: gray;
}
.part2{
  width: 200px;
  display: inline-block;
  position: absolute;
  right: 100px;
}
.part2 input{
  width: 60px;
}
